@import "../../../assets/styles/variables.scss";

.element {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .label {
        color: $text-medium-gray;
    }

    .select {
        height: 2.75rem;
        background-color: $background-white;
        border-radius: 0.4rem;
        border: 0.1rem solid $border-gray;
        padding: 0.25rem;
        font-family: var(--font-principal);
        cursor: pointer;
    }
}

.companies {

    &:focus {
        border: 0.07rem solid $button-companies;
        outline: 0.07rem solid $text-light-gray;
        outline-offset: 0.15rem;
    }
}

.vacancies {

    &:focus {
        border: 0.07rem solid $button-vacancies;
        outline: 0.07rem solid $text-light-gray;
        outline-offset: 0.15rem;
    }
}