@import "../../../assets/styles/variables.scss";

.container {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        width: 15%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5rem;
        color: $text-white;
        font-family: var(--font-principal);
        border: none;
        color: $text-white;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }
    }
}

.vacancies {
    background-color: $button-vacancies;

    &:hover {
        background-color: $button-vacancies-hover;
    }
}

.companies { 
    background-color: $button-companies;

    &:hover {
        background-color: $button-companies-hover;
    }
}